<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 ">
            <label style="font-size:20px">
                <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                Skills
            </label>
            <br>
            <span ng-repeat="skill in profile.profile.skills">
                {{skill}} &nbsp;
            </span>
        </div>


    </div>
    <div class="col-md-6">
        <div class="col-md-6 ">
            <label style="font-size:20px">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                Equipment
            </label>
            <br>
            <span ng-repeat="equipment in profile.profile.equipments">
                {{equipment}}
            </span>
        </div>
    </div>
</div>